$light-blue: #4a90e2;
$purple: #8787a9;
$dark-purple: #000034;
$dark-blue: #000034;
$orange: #e1990f;
$lime: #eafad9;
$text-light-blue: #4b90e2;
$red: #d0021b;
$white: #fff;
$black: #050505;
$grey: #585656;
$yellow: #ffd700;
$light-grey: #7f7f7f;
// $yellow_address: #fdfce3;
